@use "./../../../../../public/styles/all_styles.scss" as all;

:host {

    // #region detail-header
    .contact-detail-header {
        @include all.fl($jc: space-between, $alit: center);
        @include all.size($w: 100%);

        .header-info {
            @include all.fl($alit: center, $gap: 2rem);

            @media (max-width: 1200px) {
                @include all.fl($flexdir: column, $gap: 1rem);
            }

            h2 {
                letter-spacing: 2px;
            }

            @media (max-width: 455px) {
                h1 {
                    font-size: 3.2rem;
                }
                h2 {
                    font-size: 1.8rem;
                }
            }

            hr {
                background: rgb(17, 148, 213);
            }

            #middle-line {
                display: block;
                @include all.size($w: 3px, $h: 6rem);

                @media (max-width: 1200px) {
                    display: none;
                }
            }

            #bottom-line {
                display: none;
                @include all.size($w: 12rem, $h: 3px);

                @media (max-width: 1200px) {
                    display: flex;
                }
            }
        }

        .contact-detail-back {
            display: none;
            
            @include all.notebook {
                display: block;
                position: absolute;
                top: 0; 
                right: 3rem;
                background: transparent;
            }
        }
    }
    // #endregion

    // #endregion

    // #region contact-info
    .contact-info-container {
        @include all.slightInFromRightAnimation();
        @include all.size($w: 80%, $h: 75%);
        @include all.marpad($mar: 3rem 0 0);

        .contact-detail-header-row {
            @include all.fl($alit: center);
            @include all.size($w: 100%);
            
            .contact-icon {
                height: 12rem;
                width: 12rem;
                flex: 0 0 12rem;
                font-size: 6rem;
            }

            .name-option-container {
                @include all.fl($flexdir: column);
                flex: 1;
                @include all.size($w: 100%, $h: 100%);
                @include all.marpad($pad: 0 0 0 3rem);

                @include all.mobile {
                    @include all.marpad($pad: 0 0 0 2rem);
                }

                @include all.smart {
                    @include all.marpad($pad: 0 0 0 1rem);
                }

                .name {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    line-clamp: 2;
                    max-height: 7rem;
                    line-height: 3.5rem;
                    margin-bottom: 2rem;
                    
                    font: 3.2rem 'InterBold', sans-serif;

                    @include all.smart {
                        @include all.limiter($lines: 2);
                        // @include all.size($h: 3dvh);
                        font-size: 2.2rem;
                    }
                }

                .option-container {
                    @include all.size($h: 3rem);
                    @include all.fl($jc: start, $alit: center, $gap: 2rem);

                    @include all.tablet {
                        display: none;
                    }

                    button {
                        @include all.fl($alit: center, $gap: 0.7rem);
                        font-size: 16px;
                        font-family: 'Inter', sans-serif;

                        .delete-btn {
                            @include all.size($w: 20px, $h: 20px);
                        }

                        img {
                            @include all.size($w: 16px, $h: 16px);
                        }

                        &:hover {
                            color: rgb(31, 135, 246);
                        }
                    }
                }
            }
        }

        h2 {
            @include all.marpad($mar: 3rem 0);
            font-size: 2.4rem;
        }

        .emailPhone {

            h3 {
                @include all.marpad($mar: 1.5rem 0);
                font-size: 2rem;
            }

            a {
                @include all.limiter();
                font-size: 2rem;
                color: #007bed;
            }

            .tel-ref {
                @include all.limiter();
                color: black;
            }
        }
    }

    // #endregion

    .mobile-options-container {
        @include all.absolute($bottom: 0, $right: 1rem);
        @include all.size($w: 5rem, $h: 5rem);
        display: none;
        z-index: 1;

        @include all.tablet {
            display: flex;
        }

        .option-btns {
            @include all.size($w: 40px, $h: 40px);
            @include all.fl($flexdir: column, $alit: center, $jc: center);
            background-color: #2c3e50;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 20;
        }

        .dot {
            @include all.size($w: 4px, $h: 4px);
            @include all.marpad($mar: 0.2rem 0);
            background-color: white;
            border-radius: 50%;
        }
    }

    .popup-menu {
        @include all.size($w: 10rem, $h: 9rem);
        @include all.fl($flexdir: column, $alit: start, $jc: center, $gap: 0.5rem);
        @include all.absolute($bottom: 5rem, $right: 5rem);
        background-color: white;
        border-radius: 16px 16px 0 16px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

        .menuItem {
            width: 100%;
            height: 4rem;
            padding: 1rem;
            @include all.fl($alit: center, $gap: 1rem);
            cursor: pointer;
            border-radius: 16px;
            font-size: 16px;
            font-family: 'Inter', sans-serif;

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);

                img {
                    @include all.size($w: 2.5rem, $h: 2.5rem);
                }
            }

            img {
                @include all.size($w: 2rem, $h: 2rem);
            }
        }
    }
}