@use './../../../../../public/styles/all_styles.scss' as all;

.icon-list-container {
	@include all.fl($alit: center);

	.icon-list-item {
		@include all.size($w: 4rem, $h: 4rem);
		@include all.marpad($mar: 0 -0.75rem 0 0);
		border: 1px solid white;
	}

	.icon-counter {
		@include all.fl($jc: center, $alit: center);
		@include all.size($w: 4rem, $h: 4rem);
		@include all.marpad($mar: 0 0 0 0.8rem);
		font-size: 16px;
		font-family: 'Inter', sans-serif;
		font-weight: 500;
		color: white;
		background-color: rgb(211, 143, 16);
		border: none;
		border-radius: 50%;
	}
}