@use '../../../../public/styles/all_styles' as all;

:host {
    width: 100%;
    @include all.fl();
    overflow: hidden;

    .contact-list {
        @include all.size($w: 35rem, $h: 90dvh);
        @include all.marpad ($pad: 2rem 1.6rem 1rem 3rem);

        @include all.notebook {
            @include all.size($w: 100%, $h: 90dvh);
        }

        @include all.tablet {
            @include all.size($w: 100%, $h: 80dvh);
        }

        @include all.mobile {
            width: 100%;
        }

        @media(max-width: 376px) {
            @include all.size($w: 100%, $h: 80dvh);
        }
    }

    .contact-detail {
        @include all.size($h: 90dvh, $w: 100%);
        @include all.marpad($pad: 8rem 0 0 5rem);
        
        @include all.notebook {
            @include all.size($w: 100%, $h: 90dvh);
        }
        
        @include all.tablet {
            @include all.size($w: 100%, $h: 80dvh);
        }

        @media(max-width: 425px) {
            @include all.marpad($pad: 6rem 0 0 3rem);
        }
    }
}