@use './../../../../public/styles/all_styles.scss' as all;

// Hier hatte ich den header-Selctor zu host geändert.
// Mit :host kann man in Angular die gesamte Komponente stylen.

:host {
    
	.smallHeader {
        grid-column: 1 / -1;
        grid-row: 1; 
		@include all.fl($jc: end, $flexdir: row);
		gap: 10px;
		padding-right: 1rem;
		cursor: pointer;
        }

    .main {
        grid-column: 2;
        grid-row: 2;
        height: auto;
        padding-top: 0;
        flex-direction: column;
    }
}
