@use "../../../../public/styles/all_styles" as all;
@forward "../../../../public/styles/component-styles";

:host {
    @include all.size($w: calc(100dvw - 20rem), $h: 90dvh);
    @include all.marpad($pad: 5rem 3% 2rem 3%);


    @include all.tablet {
        @include all.size($w: calc(100dvw), $h: 80dvh);
    }

    header {
        @include all.size($w: 100%);
        @include all.fl($alit: center, $jc: space-between);
        margin-bottom: 3rem;

        h1 {
            font-family: 'Interbold', sans-serif;
            font-size: 5rem;
            padding-right: 2rem;
        }

        @include all.tablet {
            margin-bottom: 2rem;
        }

        .search-task-board {
            @include all.fl($jc: end, $gap: 2rem);
            width: 100%;

            .search-task {
                max-width: 50rem;
                @include all.mobile {
                    display: none;
                }
            }

            .btn-set {
                @include all.size($w: 20rem, $h: 4.5rem);

                @include all.notebook {
                    width: 4.5rem;

                    #add-task-label {
                        display: none;
                    }
                }
            }
        }
    }

    .search-task-container-mobile {
        display: none;

        @include all.mobile {
            width: 100%;
            @include all.fl($jc: center);
            padding-bottom: 2rem;
        }
    }

    .task-list-wrapper {
        @include all.size($w: 100%, $h: 74dvh);
        @include all.fl($gap: 2rem, $jc: space-between);

        @media(max-width: 1280px) {
            width: calc(100dvw - 20rem - 6%);
            @include all.fl($flexdir: column);
            @include all.scrollbar();
            overflow-y: auto;
        }

        @include all.notebook{
            
        }

        @include all.tablet {
            width: calc(100dvw - 6%);
            height: 64dvh;
            padding: 0 1rem 2rem 0;
        }

        @include all.mobile {
            padding: 0 0 4rem 0;
            height: 57dvh;
        }

        .task-list {
            @include all.size($w: 25%, $h: 72dvh);
            @include all.fl($flexdir: column);

            @media (max-width: 1280px) {
                width: 100%;
                margin-bottom: 1rem;
                padding-right: 1rem;
            }

            .task-list-header {
                @include all.fl($jc: space-between, $alit: center);
                margin-bottom: 1rem;

                h3 {
                    white-space: nowrap;
                }
            }

            main {
                width: 100%;
                // height: 70dvh;
                @include all.fl($flexdir: column, $gap: 1.5rem);
                @include all.scrollbar();
                padding-right: 1rem;
                overflow-y: auto;

                @media(max-width: 1280px) {
                    @include all.fl($gap: 1rem);
                    overflow-x: auto;
                    overflow-y: hidden;
                }

                @include all.notebook {
                    padding-bottom: 1rem;
                }

                @media (max-width: 1000px) {
                    overflow-x: auto;
                }

                .drag-content {
                    @include all.size($w: 100%, $h: 26rem);
                    min-width: 24rem;

                    @media(max-width: 1280px) {
                        width: 23rem;
                        min-width: 23rem;
                        height: 27rem;
                    }
                }

                .no-entry-container {
                    @include all.size($w: 100%, $h: 70rem);

                    p {
                        @include all.size($w: 100%, $h: 5rem);
                        @include all.fl($jc: center, $alit: center);
                        @include all.borRad($radius: 8px, $design: dotted, $thick: 2px, $c: rgba(0, 0, 0, 0.3));
                        background: rgba(0, 0, 0, 0.1);
                        color: rgba(0, 0, 0, 0.4);
                    }

                    @media(max-width: 1280px) {
                        height: auto;
                    }
                }
            }
        }
    }
}

// #region CDK-Drag-Drop
// .cdk-drag-list {
//     width: 100%;
//     height: 100%;
// }

// .cdk-drop-list {
//     width: 100%;
//     height: 100%;
// }

.cdk-drop-list-dragging {
    border: 3px dotted #800000;
}

.cdk-drag-preview {
    border-radius: 8px;
    @include all.boxSh($c: rgba(0, 0, 0, 0.4));
    transform: translate(rotate(15deg));
}

.cdk-drag-placeholder {
    opacity: 0;
}

// #endregion