@use "../../../../public/styles/all_styles" as all;
@forward "../../../../public/styles/component-styles";

:host {
    @include all.size($h: 90dvh);
    @include all.marpad($pad: 5rem 3rem 2rem 3rem);

    header {
        @include all.size($w: 100%);
        @include all.fl($alit: center, $jc: space-between);
        margin-bottom: 3rem;

        h1 {
            font-family: 'Interbold', sans-serif;
            font-size: 5rem;
        }

        @include all.tablet {
            margin-bottom: 2rem;
        }

        .search-task-board {
            @include all.fl($jc: end, $gap: 3rem);
            width: 70%;

            @include all.notebook {
                width: 75%;
                gap: 1.5rem;
            }

            @include all.tablet {
                width: 75%;
                gap: 1.6rem;
            }

            @include all.mobile {
                justify-content: end;
            }

            .search-task {
                @include all.mobile {
                    display: none;
                }
            }

            .btn-set {
                @include all.size($w: 20rem, $h: 4.5rem);

                @media(max-width: 1280px) {
                    // width: 25%;
                }

                @include all.notebook {
                    width: 4.5rem;

                    #add-task-label {
                        display: none;
                    }
                }
            }
        }
    }

    .search-task-container-mobile {
        display: none;

        @include all.mobile {
            width: 100%;
            @include all.fl($jc: center);
        }
    }

    .task-list-wrapper {
        @include all.size($w: 100%, $h: 74dvh);
        @include all.fl($gap: 2rem, $jc: space-between);

        @media(max-width: 1280px) {
            @include all.fl($flexdir: column);
            @include all.scrollbar();
            overflow: auto;
        }

        @include all.tablet {
            height: 70dvh;
            padding: 0 1rem 4rem 1rem;
        }

        @include all.mobile {
            height: 59dvh;
        }

        .task-list {
            @include all.size($w: 25%, $h: 72dvh);
            @include all.fl($flexdir: column);

            @media (max-width: 1280px) {
                width: 100%;
                height: 72dvh;
                margin-bottom: 1rem;
            }

            .task-list-header {
                @include all.fl($jc: space-between, $alit: center);
                margin-bottom: 1rem;

                h3 {
                    white-space: nowrap;
                }
            }

            main {
                width: 100%;
                @include all.fl($flexdir: column);
                @include all.scrollbar();
                overflow-y: auto;

                @media(max-width: 1280px) {
                    @include all.fl($gap: 1rem);
                    overflow-x: auto;
                }

                @include all.notebook {
                    // max-width: 76dvw;
                    // padding-bottom: 1rem;
                }

                @media (max-width: 920px) {
                    // max-width: 71dvw;
                }

                @include all.tablet {
                    // max-width: 100%;
                }

                .drag-content {
                    width: 100%;
                    min-width: 24rem;
                }

                .no-entry-container {
                    @include all.size($w: 100%, $h: 70rem);

                    p {
                        @include all.size($w: 100%, $h: 5rem);
                        @include all.fl($jc: center, $alit: center);
                        @include all.borRad($radius: 8px, $design: dotted, $thick: 2px, $c: rgba(0, 0, 0, 0.3));
                        background: rgba(0, 0, 0, 0.1);
                        color: rgba(0, 0, 0, 0.4);
                    }

                    @media(max-width: 1280px) {
                        height: auto;
                    }
                }
            }
        }
    }
}

// #region CDK-Drag-Drop

.cdk-drop-list-dragging {
    border: 3px dotted #800000;
}

.cdk-drag-preview {
    border-radius: 8px;
    @include all.boxSh($c: rgba(0, 0, 0, 0.4));
    transform: translate(rotate(15deg));
}

.cdk-drag-placeholder {
    opacity: 0;
}

// #endregion