@use './../../../../../../public/styles/all_styles.scss' as all;

h3 {
	color: rgba(0, 0, 0, 0.8);
	font-weight: 500;
}

:host {

	.modal-overlay {
		@include all.size($w: 100%, $h: 100%);
		@include all.fl($alit: center, $jc: center);
		position: fixed;
		inset: 0;
		background: rgba(0, 0, 0, 0.5);

		.task-modal-detail-container {
			@include all.size($w: 50rem, $h: 85dvh);
			@include all.marpad($pad: 3rem);
			background: rgb(254, 253, 253);
			border-radius: 16px;
			box-shadow: 0 0 5px lightgrey;
			
			@media (max-width: 530px) {
				@include all.size($w: 95dvw, $h: 80dvh);
				padding: 3rem 2rem;
			}

			.task-modal-header {
				margin-bottom: 1rem;
				@include all.fl($alit: center, $jc: space-between);

				h2 {
					width: fit-content;
					@include all.marpad($pad: 0.5rem 1.5rem);
					color: white;
					font-size: 20px;
					font-weight: 500;
					border-radius: 8px;

					@include all.mobile {
						font-size: 18px;
					}
				}

				.blue {
					background: #0038FF;
				}

				.green {
					background: #1fd7c1;
				}

				.yellow {
					background: rgb(0, 128, 90);
				}

				.close {
					@include all.size($w: 3.2rem, $h: 3.2rem);
					font-size: 16px;
					font-weight: 600;
					background: transparent;

					@include all.mobile {
						@include all.size($w: 2rem, $h: 2rem);
					}

					&:hover {
						color: #29ABE2;
					}
				}
			}

			.task-detail-main-container {
				@include all.size($w: 100%, $h: 100%);
				max-height: 70dvh;
				@include all.fl($flexdir: column, $gap: 2rem);
				@include all.scrollbar();
				overflow-y: auto;

				@media (max-width: 530px) {
					max-height: 65dvh;
				}

				.title {
					@include all.size($w: 100%, $h: 14rem);
					@include all.limiter($lines: 3);
					min-height: 14rem;
				}

				.description {
					@include all.size($w: 100%, $h: 7.4rem);
					@include all.limiter($lines: 4);
					min-height: 7.4rem;
				}

				.task-modal-dueDate-container {
					@include all.fl($alit: center, $jc: space-between);
					@include all.size($w: 50%);

					@media (max-width: 530px) {
						@include all.size($w: 60%);
					}

					@include all.mobile{
						@include all.size($w: 75%);
					}

					@media (max-width: 360px) {
						@include all.size($w: 80%);
					}
				}

				.task-modal-priority-container {
					@include all.fl($alit: center, $jc: space-between);
					@include all.size($w: 50%);
					
					@media (max-width: 530px) {
						@include all.size($w: 60%);
					}

					@include all.mobile{
						@include all.size($w: 75%);
					}

					@media (max-width: 360px) {
						@include all.size($w: 80%);
					}

					.task-modal-priority {
						@include all.fl($alit: center, $jc: end, $gap: 1rem);
						@include all.size($w: 50%);

						img {
							@include all.size($w: 2rem, $h: 1.2rem);
						}
					}
				}

				.task-modal-assigned-container {
					width: 100%;

					.task-modal-assigned {
						@include all.size($w: 100%, $h: 100%);
						@include all.fl($flexdir: column, $gap: 0.5rem);
						margin-top: 0.5rem;

						.contact-item {
							width: 100%;
							@include all.fl($alit: center, $gap: 1rem);

							.contact-icon {
								@include all.size($w: 3.5rem, $h: 3.5rem);
							}

							.contact-name {
								width: 80%;
								@include all.limiter();
							}
						}
					}
				}

				.task-modal-subtasks {
					width: 100%;
					padding-bottom: 1rem;

					h3 {
							padding-bottom: 1rem;
					}

					.task-modal-subtask-container {
						@include all.size($w: 100%, $h: 100%);
						@include all.fl($alit: center, $flexdir: column, $gap: 0.5rem);

						.task-modal-input {
							@include all.size($w: 100%, $h: 2rem);
							@include all.fl($alit: center, $gap: 1rem);

							input {
								@include all.fl($alit: center);
							}
						}
					}
				}
			}
		}
	}

	.task-option-container {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0 3rem 2rem 0;
		@include all.fl($jc: end, $gap: 1rem);

		button {
			@include all.fl($alit: center, $gap: 1rem);
			font-family: 'Inter', sans-serif;
			background: transparent;
			font-size: 16px;
		}

		hr {
			@include all.size($w: 0.2rem, $h: 2.4rem);
			background: rgb(196, 195, 195);
		}
	}
}