@use './../../../public/styles/all_styles.scss' as all;

.content {
    
    app-aside {
        grid-area: aside;
    }

    .smallHeader {
        grid-area: header;
        // height: 10vh;
        // width: 100dvw;
    }

    main {
        grid-area: main;
        width: 100%;
        height: 95%;

        @include all.tablet{
            height: 100%;
        }
    }
}