@use '../../../../../../public/styles/all_styles' as all;
@forward '../../../../../../public/styles/component-styles';

.modal-overlay {
    @include all.fl($alit: center, $jc: center);
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.add-contact-modal-container {
    @include all.size($w: 85dvw, $h: 80dvh);
    @include all.fl($jc: space-between, $alit: center);
    background-color: white;
    border-radius: 16px;
    border: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);

    @include all.notebook {
        @include all.fl($flexdir: column);
    }

    @include all.tablet {
        @include all.size($w: 95dvw, $h: 80dvh);
    }

    .contact-modal-header {
        @include all.size($w:40%, $h:100%);
        @include all.fl($flexdir: column, $jc: center, $gap: 3rem);
        padding-left: 2rem;
        background: #2a3647;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;

        @include all.notebook {
            @include all.size($w: 100%, $h: 35%);
            border-bottom-left-radius: 0;
            border-top-right-radius: 16px;
        }

        .add-contact-header {
            h1, h2 {
                color: white;
            }

            h1 {
                @include all.mobile {
                    font-size: 32px;
                }
            }

            h2 {
                @include all.mobile {
                    font-size: 24px;
                }

                @include all.smart {
                    font-size: 16px;
                }
            }
        }

        img {
            @include all.notebook {
                display: none;
            }
        }
    }

    main {
        @include all.size($w: 60%, $h: 100%);
        @include all.fl($alit: center, $jc: center);

        @include all.notebook {
            @include all.size($w: 100%, $h: 70%);
        }

        form {
            @include all.size($w: 94%, $h: 94%);
            @include all.fl($flexdir: column, $alit: center, $jc: center);

            .edit-contact-mobile-icon {
                display: none;

                @include all.notebook {
                    width: 12rem;
                    height: 12rem;
                    display: flex;
                    position: absolute; 
                    top: -5%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 60px;
                }
            }

            .form-main-container {
                @include all.size($w: 100%, $h:80%);
                @include all.fl($alit: center, $jc: center);

                @include all.notebook {
                    @include all.size($w: 100%, $h:70%);
                    @include all.fl($flexdir: column, $alit: center, $jc: center);
                }

                .icon-area {
                    @include all.size($w: 30%, $h:80%);
                    @include all.fl($alit: center, $jc: center);

                    @include all.tablet {
                        width: 100%;
                    }

                    .edit-contact-icon {
                        width: 16rem;
                        height: 16rem;
                        font-size: 60px;

                        @include all.notebook {
                            display: none;
                        }
                    }
                }

                .input-area {
                    @include all.size($w: 100%, $h:100%);
                    @include all.fl($flexdir: column, $alit: center, $jc: center, $gap: 2rem);
                    @include all.marpad($pad: 0 2rem);

                    @include all.notebook {
                        width: 100%;
                        gap: 0.5rem;
                        z-index: 3;
                    }

                    .input-container {
                        @include all.size($w: 100%, $h: 8rem);
                        @include all.fl($flexdir: column, $alit: center, $jc: start);

                        .input-img-container {
                            @include all.size($w: 100%);
                            @include all.fl($alit: center, $jc: center, $gap: 2rem);
                            @include all.borRad($radius: 16px, $c: rgba(0, 0, 0, 0.4));
                            @include all.marpad($pad: 1rem);
                            
                            @include all.notebook {
                                @include all.marpad($pad: 1rem);
                            }

                            input {
                                @include all.size($w: 100%);
                                font-family: 'Inter', sans-serif;
                                font-size: 16px;
                                padding-left: 1rem;
                                
                                &:focus {
                                    border: none; 
                                    outline: none;
                                }

                                &:focus-visible {
                                    border: none;
                                }
                            }
                            
                            img {
                                @include all.size($w: 2.5rem, $h: 2.5rem);
                            }
                        }
                    }
                }
            }

            .form-button-container {
                @include all.size($w: 100%, $h:10%);
                @include all.fl($alit: center, $jc: end, $gap: 2rem);

                @include all.notebook {
                    position: absolute;
                    bottom: 0; 
                    right: 2.5rem;
                }

                @include all.mobile {
                    justify-content: center;
                    right: 0;
                }

                input {
                    height: 4.8rem;
                    padding: 1rem;
                    font-family: 'Inter', sans-serif;
                    
                    &.sub-btn {
                        padding: 0 2rem;
                    }

                    &.btn-default {
                        @include all.mobile {
                            display: none;
                        }
                    }
                }
            }
        }

        .icon-area-mobile {
            display: none;
        }
    }


}

.close {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 3.2rem;
    background: transparent;

    @include all.notebook {
        color: white;
    }
}