@use '../../../../../../public/styles/all_styles' as all;
@forward '../../../../../../public/styles/component-styles';

.modal-overlay {
    @include all.fl($alit: center, $jc: center);
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.add-contact-modal-container {
    @include all.size($w: 85dvw, $h: 80dvh);
    @include all.fl($jc: space-between, $alit: center);
    background-color: white;
    border-radius: 16px;
    border: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);

    @include all.notebook {
        @include all.fl($flexdir: column);
    }

    @include all.tablet {
        @include all.size($w: 95dvw, $h: 80dvh);
    }

    .contact-modal-header {
        @include all.size($w:40%, $h:100%);
        @include all.fl($flexdir: column, $jc: center, $gap: 3rem);
        padding-left: 2rem;
        background: #2a3647;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;

        @include all.notebook {
            @include all.size($w: 100%, $h: 40%);
            border-bottom-left-radius: 0;
            border-top-right-radius: 16px;
        }

        .add-contact-header {
            h1, h2 {
                color: white;
            }

            h1 {
                @include all.mobile {
                    font-size: 32px;
                }
            }

            h2 {
                @include all.mobile {
                    font-size: 24px;
                }

                @include all.smart {
                    font-size: 16px;
                }
            }
        }

        img {
            @include all.notebook {
                display: none;
            }
        }
    }

    main {
        @include all.size($w: 60%, $h: 100%);
        @include all.fl($alit: center, $jc: center);

        @include all.notebook {
            @include all.size($w: 100%, $h: 60%);
        }

        form {
            @include all.size($w: 94%, $h: 94%);
            @include all.fl($flexdir: column, $alit: center, $jc: center);

            .edit-contact-mobile-icon {
                display: none;

                @include all.notebook {
                    width: 16rem;
                    height: 16rem;
                    display: flex;
                    position: absolute; 
                    top: -5%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 60px;
                }
            }

            .form-main-container {
                @include all.size($w: 100%, $h:70%);
                @include all.fl($alit: center, $jc: center);

                @include all.notebook {
                    @include all.size($w: 100%, $h:70%);
                    @include all.fl($flexdir: column, $alit: center, $jc: center);
                }

                .icon-area {
                    @include all.size($w: 30%, $h:80%);
                    @include all.fl($alit: center, $jc: center);

                    @include all.tablet {
                        width: 100%;
                    }

                    .edit-contact-icon {
                        width: 16rem;
                        height: 16rem;
                        font-size: 60px;

                        @include all.notebook {
                            display: none;
                        }
                    }
                }

                .input-area {
                    @include all.size($w: 100%, $h:100%);
                    @include all.fl($flexdir: column, $alit: center, $jc: center, $gap: 5rem);
                    @include all.marpad($pad: 0 2rem);

                    @include all.notebook {
                        width: 100%;
                        gap: 3rem;
                        z-index: 3;
                    }

                    .input-container {
                        @include all.size($w: 100%, $h: 4.5rem);
                        @include all.fl($flexdir: column, $alit: start, $jc: center);

                        @include all.tablet {
                            height: 3.8rem;
                        }

                        .input-img-container {
                            @include all.size($w: 100%, $h:100%);
                            @include all.fl($alit: center, $jc: center, $gap: 2rem);
                            @include all.borRad($radius: 16px, $c: rgba(0, 0, 0, 0.4));
                            @include all.marpad($pad: 2rem);
                            
                            input {
                                @include all.size($w: 100%);
                                font-family: 'Inter', sans-serif;
                                font-size: 16px;
                                padding-left: 1rem;
                                
                                &:focus {
                                    border: none; 
                                    outline: none;
                                }

                                &:focus-visible {
                                    border: none;
                                }
                            }
                            
                            img {
                                @include all.size($w: 2.5rem, $h: 2.5rem);
                            }
                        }

                        .error {
                            width: 100%;
                            padding-left: 2rem;
                            font-size: 16px;
                            color: #800000;
                        }
                    }
                }
            }

            .form-button-container {
                @include all.size($w: 100%, $h:10%);
                @include all.fl($alit: center, $jc: end, $gap: 2rem);

                @include all.notebook {
                    position: absolute;
                    bottom: 0; 
                    right: 2.5rem;
                }

                @include all.mobile {
                    justify-content: center;
                    right: 0;
                }

                input {
                    height: 4.8rem;
                    padding: 1rem;
                    font-family: 'Inter', sans-serif;
                    
                    &.sub-btn {
                        padding: 0 2rem;

                        &:disabled {
                            cursor: not-allowed;
                            opacity: 0.5;
                            background: linear-gradient(145deg, #999, #777);
                            box-shadow: none;
                            transform: none;
                        }
                    }

                    &.btn-default {
                        @include all.mobile {
                            display: none;
                        }
                    }
                }
            }
        }

        .icon-area-mobile {
            display: none;
        }
    }


}










// .add-contact-modal-container {
//     @include all.size($w: 85dvw, $h: 80dvh);
//     @include all.fl($jc: center, $alit: center);
//     background-color: white;
//     border-radius: 16px;
//     border: none;
//     box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);

//     @include all.notebook {
//         box-shadow: 8px 0 8px rgba(0, 0, 0, 0.2), -8px 0 8px rgba(0, 0, 0, 0.2);
//         @include all.size($w: 90dvw, $h: 80dvh);
//         @include all.fl($flexdir: column, $jc: center, $alit: center);
//     }

//     @include all.tablet {
        
//     }

//     .contact-modal-header {
//         @include all.fl($flexdir: column, $jc: center);
//         @include all.size($w: 40%, $h: 80dvh);
//         @include all.marpad($pad: 0 2rem);
//         background-color: #2a3647;
//         border-radius: 16px 0 0 16px;

//         @include all.notebook {
//             @include all.size($w: 90dvw, $h: 40%);
//             border-radius: 16px;
//         }

//         @include all.mobile {
//             height: 30%;
//             justify-content: flex-start;
//             padding-top: 1.6rem;
//         }

//         .mobile-close-btn {
//             display: none;

//             button {
//                 color: white;
//                 border: none;
//                 background: transparent;
//             }

//             @include all.notebook {
//                 @include all.absolute($top: 0, $right: 3rem);
//                 @include all.fl($jc: end);

//                 button {
//                     @include all.marpad($mar: 2rem 0 0);
//                     font-size: 20px;
//                 }
//             }

//             @include all.smart {
//                 right: 2rem;
//             }
//         }

//         img {
//             margin-bottom: 2rem;

//             @include all.notebook {
//                 display: none;
//             }
//         }

//         h1 {
//             color: white;
//             font-size: clamp(28px, 4vw, 48px);
//             font-family: 'Inter', sans-serif;
//             margin-bottom: 0.5rem;
//             line-height: 1.2;

//             @include all.tablet {
//                 font-size: 36px;
//             }
//         }

//         h2 {
//             width: 100%;
//             color: white;
//             font-size: clamp(16px, 2vw, 24px);
//             margin-bottom: 1rem;
//         }

//         hr {
//             background: rgb(17, 148, 213);
//             border: none
//         }
//     }
// }

// main {
//     @include all.fl($jc: center, $alit: center);
//     @include all.size($w: 60%, $h: 100%);
//     padding: 0 3%;

//     @include all.notebook {
//         width: 90dvw;
//         height: 80dvh;
//     }

//     @include all.mobile {
//         align-items: flex-start;
//         height: 70%;
//         padding: 7rem 1.6rem 0 1.6rem;
//         ;
//     }

//     .icon-area-mobile {
//         display: none;

//         @include all.mobile {
//             display: flex;
//             @include all.size($w: 12rem, $h: 12rem);
//             position: absolute;
//             top: -6rem;
//             left: calc((90dvw / 2) - 6rem);
//         }
//     }

//     form {
//         width: 100%;
//     }

//     .form-button-container {
//         @include all.fl($jc: flex-end, $alit: center, $gap: 1.6rem);
        
//         input {
//             height: 4.8rem;
//         }

//         .sub-btn {
//             padding-bottom: 1px;
//         }

//         @include all.mobile {
//             width: 100%;
//             position: absolute;
//             bottom: -6.4rem;
//         }
//     }
// }

// .form-main-container {
//     @include all.fl($gap: 1.6rem);
//     width: 100%;

//     @include all.mobile {
//         height: 32dvh;
//         overflow-y: auto;
//         @include all.scrollbar();
//     }

//     .icon-area {
//         @include all.fl($jc: center, $alit: center);
//         @include all.size($w: 40%, $h: 30dvh);

//         @include all.mobile {
//             display: none;
//         }

//         img,
//         app-contact-icon {
//             width: 12rem;
//             height: 12rem;
//             font-size: 6rem;
//         }
//     }

//     .input-area {
//         @include all.fl($flexdir: column);
//         width: 60%;

//         @include all.mobile {
//             width: 100%;
//             margin-top: 0.5rem;
//         }

//         .form-field {
//             @include all.fl($flexdir: column, $jc: center);
//             width: 100%;

//             input {
//                 width: 27dvw;
//                 padding: 1rem 4.8rem 1rem 1.6rem;
//                 font-size: 1.6rem;
//                 border: 1px solid #d1d1d1;
//                 border-radius: 1rem;

//                 @include all.notebook {
//                     width: 100%;
//                 }

//                 @include all.mobile {
//                     width: 78dvw;
//                 }
//             }

//             img {
//                 width: 1.6rem;
//                 height: 1.6rem;
//                 position: absolute;
//                 right: 1.6rem;
//                 top: 1rem;
//             }

//             .errmsg {
//                 height: 1.6rem;
//                 color: #800000;
//                 @include all.marpad ($pad: 0 1.6rem, $mar: 0.5rem 0);
//                 text-align: center;
//             }
//         }
//     }
// }

.close {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 3.2rem;
    background: transparent;

    @include all.notebook {
        color: white;
    }
}