@use './../../../../../public/styles/all_styles.scss' as all;

:host {
    @include all.fl($jc: center, $alit: center);
    @include all.size($w: 100%, $h: 100%);
    padding: 0.5rem;
    font-size: clamp(16px, 75%, 48rem);
    color: white;
    border-radius: 50%;
}

:host(.orange) {
    background: #ff7a00;
}

:host(.purple) {
    background: #9227ff;
}

:host(.blue) {
    background: #6e52ff;
}

:host(.pink) {
    background: #fc71ff;
}

:host(.yellow) {
    background: #ffbb2b;
}

:host(.green) {
    background: #1fd7c1;
}