@use '../../../../../public/styles/all_styles' as all;

:host {
	@include all.size($w: 100%);
	@include all.fl($alit: center, $gap: 2rem);
	padding: 1rem 2rem;
	font-size: 20px;
	color: white;
	background: transparent;

	@include all.tablet {
		@include all.size($w: 100%, $h: 100%);
		@include all.fl($flexdir: column, $gap: 1rem);
		padding: 0;
		// @include all.marpad($mar: 0, $pad: 0);
		border-radius: 16px;
	}

	&:hover {
		background: #2a3d59;
	}

	&.active {
		background: #091931;
	}

	img {
		@include all.fl();
		@include all.size($w: 2.8rem, $h: 2.8rem);

		@include all.tablet {
			@include all.size($w: 3.8rem, $h: 3.8rem);
		}
	}

	.nav-name {

		@include all.tablet {
			display: none;
		}
	}
}