// TODO: Font Roboto muss hier noch eingebunden und herunter geladen werden.

*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

html {
    font-size: 10px; // für Verwendung von rem, 1rem = 10px
}

body {
	background: rgb(211, 211, 211, 0.4);
    font-family: 'Roboto', sans-serif;
}

button, input {
    border: unset; // Vorgabe in Checkliste
}

button {
    cursor: pointer; // Vorgabe in Checklist
    background: transparent;
}

.content {
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 10dvh 90dvh;
    grid-template-areas: "aside header" "aside main";
    height: 100dvh;

    @include all.tablet {
        grid-template-columns: 1fr;
        grid-template-rows: 10dvh 1fr 11dvh; 
        grid-template-areas: 
            "header"
            "main"
            "aside";

    }
}

body {
	background: rgb(211, 211, 211, 0.4);
    font-family: 'Roboto', sans-serif;
}

.d_none {
    display: none;
}

button {
    cursor: pointer;
    border: unset;
}

input {
    border: unset;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/Fonts/Roboto/static/Roboto-Medium.ttf") format("truetype");
}

.overlay { // Elternelement
    
    justify-content: center;
    .content { // Kindelement
        //  Hier kann man noch spezielle Eigenschafen festgelegt werden,
        // die eintreten genau dann wenn .content ein Kind von .overlay ist.
        display: flex;
        justify-content: center;
        // Das würde ich hier nicht weiter verschachteln, 
        // speziellere Eigenschaften werden in den Komponenten festgelegt
    }
}

// Sollte global definiert werden, damit es überall verwendent werden kann.
.d-none {
    display: none;
}