@use '../../../../../public/styles/all_styles' as all;

:host {
    width: 100%;
    .search-form-container {
        @include all.size($w: 100%, $h: 4.8rem);
        @include all.fl($alit: center, $gap: 0.5rem);
        @include all.borRad($radius: 8px, $c: rgba(0, 0, 0, 0.2));
        background: white;
        padding: 0 1rem;

        .search-input {
            @include all.size($w: 100%, $h: 4.5rem);
            @include all.marpad($pad: 1rem 0);
            outline: none;
            font-size: 16px;

            &::placeholder {
                color: rgba(0, 0, 0, 0.3);
            }

            &:focus {
                border-color: #29abe2;
            }
        }

        hr {
            @include all.size($w: 0.2rem, $h: 65%);
            background: lightgrey;
        }

        .search-icon-btn {
            @include all.size($w: 4rem, $h: 4rem);
            background: url(../../../../../public/assets//Icons//taskBoard/searchDefault.png) no-repeat center / cover;
            cursor: pointer;

            &:hover {
                background: url(../../../../../public/assets//Icons//taskBoard/searchHover.png) no-repeat center / cover;
            }

            &:active {
                background: url(../../../../../public/assets//Icons//taskBoard/searchClick.png) no-repeat center / cover;
            }
        }
    }
}